*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0,0,0.95);
    overflow: hidden;
}

.container{
    display: flex;
    flex-flow: column;
    width: 30%;
    height: 340px;
    border-radius: 10px;
    background-color: white;
    z-index: 2;
}

#particles-js {
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    position:fixed;
    z-index: 1;
}


.Absolute-Center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.logo-text{
    font-family: 'Lobster Two', cursive;
    display: block;
    text-align: center;
    font-size: 4em;
    padding: 10px;
}

#firebaseui-auth-container{
    width: 100%;
    font-size: 3px;
}

.login-info{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}


.shadow-box{
    
}
@media (min-width: 1025px) and (max-width: 1280px) {
 
    .logo-text{    
        font-size: 3.5em;
    }
    .container{
        width: 35%;
    }

}
    
    @media (min-width: 768px) and (max-width: 1024px) {
        .logo-text{    
            font-size: 3.3em;
        }
        .container{
            width: 40%;
        }
    
    }
    
    
    @media (min-width: 481px) and (max-width: 767px) {
        .logo-text{    
            font-size: 3em;
        }
        .container{
            width: 60%;
        }
    
      
    }
    
    
    @media (min-width: 321px) and (max-width: 480px) {
    
        .logo-text{    
            font-size: 2.8em;
        }
        .container{
            width: 95%;
        }
    
    }
    
    @media (max-width: 320px) {
    
        .logo-text{    
            font-size: 2.6em;
        }

        .container{
            width: 95%;
        }
      
    }
